Decision Tree/.ipynb_checkpoints/Salary Decision-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Titanic-checkpoint.ipynb
House price prediction/.ipynb_checkpoints/House area bedroom age price prediction-checkpoint.ipynb
K Fold Cross Validation/.ipynb_checkpoints/Cross Val Iris-checkpoint.ipynb
K Fold Cross Validation/.ipynb_checkpoints/K fold cross val digits-checkpoint.ipynb
Interview criterion/.ipynb_checkpoints/Interview Hiring-checkpoint.ipynb
Hyper Parameter Tuning/.ipynb_checkpoints/Hyper Parameter Tuning-checkpoint.ipynb
K means/.ipynb_checkpoints/Iris K means-checkpoint.ipynb
K means/.ipynb_checkpoints/K means income minmaxs-checkpoint.ipynb
Logistic Regression Binary/.ipynb_checkpoints/Employee Retention Prediction-checkpoint.ipynb
Logistic Regression Binary/.ipynb_checkpoints/Logistic Regression-checkpoint.ipynb
Logistic Regression Multiclass/.ipynb_checkpoints/Digits DataSet-checkpoint.ipynb
Logistic Regression Multiclass/.ipynb_checkpoints/Iris-checkpoint.ipynb
Naive Bayes CLassifier Algo/.ipynb_checkpoints/Email spam Detector-checkpoint.ipynb
Naive Bayes CLassifier Algo/.ipynb_checkpoints/Titanic Survival Prediction-checkpoint.ipynb
Naive Bayes CLassifier Algo/.ipynb_checkpoints/Wine categorisation-checkpoint.ipynb
Random Forest/.ipynb_checkpoints/Digits Random Forest-checkpoint.ipynb
Random Forest/.ipynb_checkpoints/Random Forest Iris-checkpoint.ipynb
Support Vector Machine/.ipynb_checkpoints/Digits SVM-checkpoint.ipynb
Support Vector Machine/.ipynb_checkpoints/iris svm-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
Dummy Variables & One Hot Encoding/.ipynb_checkpoints/Dummy Variables & One Hot Encoding-checkpoint.ipynb
.gitignore
